.change-password {
	width: 700px;
	overflow: hidden;
	border: 1px solid black;
	white-space: nowrap;
	padding: 10px;
}

.change-password .input-field {
	width: 90%;
	margin-bottom: 10px;
}

.change-password .input-field .input {
	width: 80%;
}