.user-profile {
	width: 700px;
	overflow: hidden;
	border: 1px solid black;
	white-space: nowrap;
	padding: 10px;
}

.input-field {
	display: inline-block;
	width: 45%;
	margin-bottom: 10px;
}

.input-field .input {
	width: 70%;
}